@using Microsoft.AspNetCore.Identity
@using WebPractice.Data.Entities
@using WebPractice.Services
@using WebPractice.Helpers
@using WebPractice.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager 
@inject IPlayerService PlayerService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spotify Clone</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebPractice.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebPractice</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole("User") || User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="YourAlbums" asp-action="Index">Your Albums</a>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Genres" asp-action="Index">Genres</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="d-flex justify-content-between align-items-center">
            @{
                var order = Context.Session.Get<List<int>>("playerItems");
                var counter = Context.Session.Get<int>("counter");
                if (counter == null) counter = 0;
                Song song = new Song();
            }
            @* <h2>
            @counter
            /
            @(order?.Count ?? 0)
            </h2> *@
            <audio id="player" autoplay ontimeupdate="initProgressBar()">
                @if (order != null && counter != 0)
                {
                    song = PlayerService.GetSong(order[counter - 1]);
                    if (song != null)
                    {
                        <source src="~/MP3Files/@song.FilePath" />
                    }
                }
            </audio>
            <div class="d-inline-flex justify-content-center">
                @if (song != null)
                {
                    <img width="100" height="100" src="@song.Album?.ImageUrl" />
                    <div>
                        <strong>@song.Name</strong>
                        <h6>@song.Album?.User?.Nickname</h6>
                    </div>
                }
            </div>
            <div class="d-flex flex-column align-items-center" style="width: 50%;">
                <div class="d-inline-flex justify-content-center">
                    <a class="btn btn-secondary text-white" onclick="player.currentTime = 0" asp-controller="Home" asp-action="Prev" asp-route-id="order[counter - 1]"><i class="bi-arrow-left"></i></a>
                    <a class="btn btn-secondary text-white" onclick="player.play()"><i class="bi-play-circle"></i></a>
                    <a class="btn btn-secondary text-white" onclick="player.pause()"><i class="bi-pause-circle"></i></a>
                    <a class="btn btn-secondary text-white" onclick="player.pause(); player.currentTime = 0"><i class="bi-stop-circle"></i></a>
                    <a class="btn btn-secondary text-white" onclick="player.currentTime = 0" id="btnNext" asp-controller="Home" asp-action="Next" asp-route-id="order[counter - 1]"><i class="bi-arrow-right"></i></a>
                </div>
                <div class="d-inline-flex justify-content-center">
                    <small style="float: left; position: relative; left: 15px;" id="start-time"></small>
                    <div class="progress" id="seek-obj-container">
                        <progress class="progress-bar bg-info" role="progressbar" id="seek-obj" value="0" max="1"></progress>
                    </div>
                    <small style="float: right; position: relative; right: 20px;" id="end-time"></small>
                </div>
            </div>
            <div>
                <a class="btn btn-secondary text-white" onclick="player.volume += 0.1"><i class="bi-volume-up"></i></a>
                <a class="btn btn-secondary text-white" onclick="player.volume -= 0.1"><i class="bi-volume-down"></i></a>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
