@model WebPractice.Models.SongViewModel
@using Microsoft.AspNetCore.Identity
@using WebPractice.Data.Entities
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<img width="210" height="210" src="@(Model.ImageUrl ?? "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png")" />
<a asp-controller="YourAlbums" asp-action="Index" class="btn btn-dark">Back</a>
<a asp-action="Add" asp-route-albumId="@Model.AlbumId" class="btn btn-primary">Add Song</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
            <th scope="col">Duration</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var s in Model.Songs)
            {
                @if (Model.AlbumId == s.AlbumId)
                {
                    <tr class="align-middle">
                        <th scope="row">@s.Id</th>
                    <td>@s.Name</td>
                    <td>@(s.Album?.User?.Nickname ?? "not loaded")</td>
                    <td>@(s.Album?.Name ?? "not loaded")</td>
                    <td>@(s.Genre?.Name ?? "not loaded")</td>
                        <td>@(s.Duration?.ToString("m':'ss") ?? "not loaded")</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Player" asp-route-id="@s.Id" class="btn btn-success">
                                <i class="bi-play-circle"></i>
                            </a>
                            <a asp-action="AddToOrder" asp-route-id="@s.Id" class="btn btn-secondary">
                                <i class="bi-plus-circle"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@s.Id" class="btn btn-warning">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a asp-action="Delete" asp-route-id="@s.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        function SortIndexChanged() {
            const prop = sortSelect.value;

            $.ajax({
                url: '/songs/sort',
                data: { property: prop }
            });
        }
    </script>
}