@model List<WebPractice.Data.Entities.Album>
@using Microsoft.AspNetCore.Identity
@using WebPractice.Data.Entities
@using System.Security.Claims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<a asp-action="Create" class="btn btn-primary">Create Album</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var p in Model)
            {
                @if (User.FindFirst(ClaimTypes.NameIdentifier).Value == p.UserId)
                {
                    <tr class="align-middle">
                        <th scope="row">@p.Id</th>
                        <td><img width="50" height="50" src="@p.ImageUrl" /></td>
                        <td>@p.Name</td>
                        <td>@(p.User?.Nickname ?? "not loaded")</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a asp-controller="YourSongs" asp-action="Index" asp-route-id="@p.Id" class="btn btn-secondary">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts
    {
    <script type="text/javascript">
        function SortIndexChanged() {
            const prop = sortSelect.value;

            $.ajax({
                url: '/albums/sort',
                data: { property: prop }
            });
        }
    </script>
}