@model List<WebPractice.Models.SongPlayerViewModel>
@using Microsoft.AspNetCore.Identity
@using WebPractice.Data.Entities

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead class="table-dark">
        <tr>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Album</th>
            <th scope="col">Genre</th>
            <th scope="col">Duration</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var s in Model)
            {
                <tr class="align-middle">
                    <td><img width="50" height="50" src="@s.Song.Album?.ImageUrl" /></td>
                    <td>@s.Song.Name</td>
                    <td>@(s.Song.Album?.User?.Nickname ?? "not loaded")</td>
                    <td>@(s.Song.Album?.Name ?? "not loaded")</td>
                    <td>@(s.Song.Genre?.Name ?? "not loaded")</td>
                    <td>@(s.Song.Duration?.ToString("m':'ss") ?? "not loaded")</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Player" asp-route-id="@s.Song.Id" onclick="player.currentTime = 0; player.play();" class="btn btn-success">
                                <i class="bi-play-circle"></i>
                            </a>
                            <a asp-action="AddToOrder" asp-route-id="@s.Song.Id" class="btn btn-secondary">
                                <i class="bi-plus-circle"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
    {
    <script src="~/js/site.js"></script>
    <script type="text/javascript">
        function SortIndexChanged() {
            const prop = sortSelect.value;

            $.ajax({
                url: '/songs/sort',
                data: { property: prop }
            });
        }
    </script>
}